.toppy{
	background-color: red;
	padding: 1%;
	color: white;
}

.jumbotron {
	background-image: url("https://preview.ibb.co/hg1pBF/imgedited_01.png");
	background-size: cover;
	color: white;
}

#hugetext{
	font-family: "Circular Std";
	font-size: 5.5em
}
#mainpara{
	font-size: 1em;
}